<!---functionality for the timer component of the application--->

<!DOCTYPE html>
<html>
<head>
<!---<link rel="stylesheet" href="timer-itself.component.css">--->
</head>
<body class="timerbg">

  <div>
    <p>{{newError}}</p>
  </div>

  <!---the timer display--->
  
  <br>
  <br>
  <countdown [config]="{ leftTime: overallTime }" #newTimeInput2 class="bigtime center-it"></countdown>
  <br>
  
  <!---the four timer control buttons--->

  <div class="timebuttons center-it">
    <button (click)="newTimeInput2.pause()" class="btn btn-link btn-sm"  class="my-button">pause</button>
    <button (click)="newTimeInput2.resume()" class="btn btn-link btn-sm"  class="my-button">resume</button>
    <!--<button (click)="newTimeInput2.stop()" class="btn btn-link btn-sm"  class="my-button">stop</button>-->
    <button (click)="newTimeInput2.restart()" class="btn btn-link btn-sm my-button">restart</button>
  </div>

  <br>
  <br>
  
  <!---the three input boxes the timer takes--->
  
  <div class="center-it textformat">
  <textarea rows="1" [value]="newHours" #newHoursInput input type="number"></textarea> hours
  <textarea rows="1" [value]="newMinutes" #newMinutesInput></textarea>minutes
  <textarea rows="1" [value]="newSeconds" #newSecondsInput></textarea>seconds
    
  <!---linking clicking the button to the function that sets time--->

  <button (click)="onSetTimer2(newHoursInput, newMinutesInput, newSecondsInput)" class="my-button2">set time</button>
  </div>
  <br>
  <br>


</body>
</html>


