<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Task</h1>
  <input type="text" [(ngModel)]="task" placeholder="Task Name">
  <input type="text" [(ngModel)]="date" placeholder="Date">
  <button (click)="postData()">Create</button>

  <table>
    <tr>{{resultTask}}</tr>
    <tr>{{resultDate}}</tr>
    <tr><button (click)="deleteData()">Delete</button></tr>
  </table>
  
  
  
</body>
</html>