.course-list-class {
    border: 1px solid black;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    border: 1px solid black;
    padding-bottom: 15px;
}

#addCourse {
    max-height: 500px;
    position: relative;
    float: right;
    border: 1ch;
    border-color: lightcoral;
}


.form-container {
    border: 2px black solid;
    position: absolute;
    left: 410px;
    display: flex;
    flex-direction: column;
}

summary {
    color: #A77B0E;
    background: #FAE042;
    border-radius: 7px;
    list-style: none;
    text-align: center;
    margin: -.5em -.5em 0;
    padding: 1em;
}

summary:header{
    max-width: 400px;
    font-size: 10px;
}
details {
    max-width: 400px;
    user-select: none;
    cursor: pointer;
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
}
.details-container {
    display: flex;
    flex-direction: column;
}

