<div class="course-list-class">
    <div class="course-list-header">
        <h2>My Courses</h2>
    </div>

<div class="course-list-container" *ngFor="let course of Courses">
    <details>
        <summary>
            <header>{{course.title}}</header>
        </summary>
        <div class="details-container">
        <h1 class="course-title">Course Title: {{course.title}}</h1>
        <h2 class="course-instructor">Instructor Name: {{course.instructorName}}</h2>
        <div class="schedule-container">
            <h3>Class Time</h3>
            <div class="schedule-content" *ngFor='let class of course.classTime'>
           <p>{{class}}</p> 
        </div>
        </div>
        <div class="officeHours-container">
        <h3>Office Hours</h3>
        <div class="officeHours" *ngFor='let officehour of course.officeHours'>
            <p>{{officehour}}</p>
        </div>
        </div>
        <div class="courseMemo">
            <h3>Notes</h3>
            <p>{{course.CourseMemo}}</p>
        </div>
        <button  [routerLink]="['/Cedit', course.id]">Edit</button>
        <button  type="submit" (click)="onDelete(course.id)">Delete</button>
        </div>
        
        
    </details>
</div>
</div>



