*{
    font-family: 'Darker Grotesque', sans-serif;;
}
div {
    /* font-family: 'Darker Grotesque', sans-serif;; */
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

.button {
    /* font-family: 'Darker Grotesque', sans-serif;; */
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 10px;
}

.submit .button:hover{
    background-color: #e0fbfc;
}

.complete:hover{
    background-color: #98c1d9;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    border: 2px solid #ee6c4d;
    border-radius: 25px;
    color: #293241;
    width: 60%;
    margin-bottom: 10%;
    margin-top: 10%;
}


.assignment-create-input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

label, input, select{
    font-size: 1.1rem;
    color: #293241;
    padding: 0;
    margin-right: 1rem;
    width: 200px;
}

