<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">

<div id="heading">
    <h1>Student Productivity App</h1>
    <button id="home-button" (click)="displayOptions()"></button>
</div>
<div class="hide" id="options">
    <button>Settings</button>
    <button class="hide" (click)="goToLoginPage()">Log out</button>
</div>