<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="assignment">Course:</label>
          <input class="form-control" [(ngModel)]="assignment.course" id="assignment">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="assignment">Assignment:</label>
          <input class="form-control" id="assignment" [(ngModel)]="assignment.assignment">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="assignment">Due Date:</label>
          <input class="form-control" id="assignment" [(ngModel)]="assignment.dueDate">
        </div>
      </div>
    </div>
  </div>

<input class="button" type="button" value="Submit" (click)="submit()">

<div>
<h2>Upcoming Assignments</h2>

<ul id="assignmentList">
<!-- display the list items (li) -->
</ul>

<table>
    <tr>
        <th>Course</th>
        <th>Assignment</th>
        <th>Due Date</th>
        <th>Complete</th>
    </tr>
    <tr *ngFor="let homework of homeworks">
        <td>{{ homework.course }}</td>
        <td>{{ homework.assignment }}</td>
        <td>{{ homework.dueDate }}</td>
        <td><input class="button" type="button" value="Complete" (click)="complete($event)"></td>
    </tr>
</table>
</div>