<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><p class="study_app">The Study App</p></a>
    <img id ="icon" src="../../assets/books.png" alt="">
    <ul class="navbar-list">
        <li>
            <a class="create-assignment" routerLink="/assignment"> Create To Do for assignment!</a>
        </li>
        <li>
            <a class="course-list" routerLink="/courseList">Course List</a>
        </li>
    </ul>
    
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto tabs">
            <li class="nav-item active tabs line-b">
            <a class="nav-link" href="index.html">Home</a>
            </li>
        </ul>
    </div> -->

    <!-- <div class="form-inline my-2 my-lg-0">
        <input id="searchAssignment" class="form-control mr-sm-2" type="search" placeholder="Find Assignment" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search();">Search</button>
    </div> -->
</nav>
