<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">

<!--div "Body" acts as body HTML tag so that it helps align the login/signup box center on the main page-->
<div class="body">

    <!--Main container for both login/create account that flexes to size-->
    <div class="login-container">

        <!-------LOGIN FORM------->
        <!--Form that will display all the information for logging in; will be the first thing that loads on our webpage-->
        <form class="login" id="login" method="post">

            <h1 class="title">Log In</h1>

            <!--Error message will not be visible initially; will appear if user inputs incorrect user/password combination-->
            <h5 class="hide-login-error" id="login-error">Invalid email/username or password</h5>
            <input class="credentials" id="user-info" type="text" #user placeholder="Username/Email" autofocus/>
            <input class="credentials" id="password-info" type="password" #pass placeholder="Password"/>
            <div id="button-container">
                <button class="interact-button" type="button" (click)="goToCreateAccount($event)">Create Account</button>

                <!--Login button only has error function, but can be used to route to homepage of user-->
                <button class="interact-button" type="submit" name="submit" (click)="showLoginError($event)">Log In</button>
            </div>
        </form>

        <!-------CREATE ACCOUNT FORM------->
        <!--Form that will display all the information for creating an account; this will take place of login information-->
        <form class="create-account hide-create-account" id="create-account" #createAccountForm="ngForm" ngModel>

            <h1 class="title" >Create Account</h1>

            <div *ngIf="(firstName.touched && firstName.invalid)" class="invalid-error">First name required</div>
            <input id="f_name" class="credentials" type="text" placeholder="First Name" required #firstName="ngModel" name="firstName" ngModel/>

            <div *ngIf="lastName.touched && lastName.invalid" class="invalid-error">Last name required</div>
            <input id="l_name" class="credentials" type="text" placeholder="Last Name" required #lastName="ngModel" name="lastName" ngModel/>  

            <div *ngIf="email.touched && email.invalid" class="invalid-error">Email required</div>
            <input id="email" class="credentials" type="text" placeholder="Email" required #email="ngModel" name="email" ngModel/>

            <input class="credentials" type="text" placeholder="Username" name="username" ngModel/>

            <div *ngIf="password.touched && password.invalid && confirmPassword.invalid" class="invalid-error">Password required</div>
            <div *ngIf="(password.value != confirmPassword.value) && (password.valid || confirmPassword.valid)" class="invalid-error">Passwords do not match</div>
            <input id="pass" class="credentials" type="password" placeholder="Password" required #password="ngModel" name="password" ngModel/>
            <input id="c_pass" class="credentials" type="password" placeholder="Confirm Password" required #confirmPassword="ngModel" name="confirmPassword" ngModel/>

            <div id="button-container">
                <button class="interact-button" id="return-login" type="button" (click)="goToLogin($event)">Back to Login</button>
                <button class="interact-button" type="submit" (click)="showCreateAccountError()">Sign Up</button>
            </div>
        </form>
    </div>
    <div id="test"></div>
    <div id="test2"></div>
</div>